@use 'sass:map';

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/pt-root-ui_regular.woff') format('woff'),
    url('/fonts/PT-Root-UI/pt-root-ui_regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/pt-root-ui_medium.woff') format('woff'),
    url('/fonts/PT-Root-UI/pt-root-ui_medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/pt-root-ui_bold.woff') format('woff'),
    url('/fonts/PT-Root-UI/pt-root-ui_bold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0b1739;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  width: 100%;
  border: 0;
}

a,
button,
input {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 80px;

  @media (width < $bp-md) {
    padding-inline: 54px;
  }
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.02;
  margin-bottom: 0;

  @media (width < $bp-sm) {
    font-size: 32px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
